
body {
    background-color: rgb(25, 37, 70);
}

.contenedor {
    background-color: aliceblue;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 30%;
    margin: -25px 0 0 -25px;
    
}

.selector{
    width: 200px;
}

.boton {
    background-color: brown;
    color: white;
    border: unset;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 78%;
}

.boton-limpiar {
    background-color: brown;
    color: white;
    border: unset;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 5%;
    display:none; 
}

.texto{
    position: relative;
    left: 30px;
    top: 40px;
}

.imagen{
    position: absolute;
    bottom: 113px;
    left: 30%;
    margin: -25px 0 0 -25px;
    z-index: 100;
    rotate: -3deg;
}

.contenedor-respuesta {
    background-color:  aliceblue;
    width: 32%;
    left: 28.7%;
    margin-top: 18%;
    padding: 2rem;
    position: absolute;
    top: 47%;
    left: 30%;
    margin: -25px 0 0 -25px;
   
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .sprite {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
  }
  .img{
    margin-right: -45px;
    margin-left: -30px;
  }

  .link{
    background-color: rgb(25, 37, 70);
    bottom: 0;
    top: 0;
    left: 100%;
    width: 0;
  }

