
body {
    background-color: rgb(25, 37, 70);
}

.contenedor {
    background-color: aliceblue;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 30%;
    margin: -25px 0 0 -25px;
    
}

.selector{
    width: 200px;
}

.boton {
    background-color: brown;
    color: white;
    border: unset;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 78%;
}

.texto{
    position: relative;
    left: 30px;
    top: 40px;
}

.imagen{
    position: absolute;
    top: 8%;
    left: 40%;
    margin: -25px 0 0 -25px;
    z-index: 100;
    rotate: -10deg;
}
